.masterhead {
    padding: 12em 0;
    background-image: url(/Users/morydoumbia/Bio/img/IMG_1993.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

body {
    background-color: gainsboro;
}





